html,
body{
    height: 100%;
    margin: 0;
}

body{
    background: #007d50;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #f8dc00;
    padding: 5px;
}

a{
    color: #c0dee7;
}

.title h1{
    margin: 0 40px;
    font-size: 40px;

}

.subtitle h2{
    margin: 0 40px;
}

.footer{
    margin-left: 40px;
    font-size: 14px;
}

.map{
    border: none;
    margin: 10px 0 0 20px;
}

.gratBackground{
    fill: #D5E3FF;
}

.counties{
    stroke: black;
    stroke-width: .4px;
    stroke-linecap: round;
}

.chart{
    /*background-color: rgba(128,128,128,.2);
    border: medium solid #999;*/
    float: right;
    margin: 55px 50px 0 0;
}

.chartBackground{
    fill:rgba(155,155,155,.0);
}

.numbers{
    fill: white;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 12px; 
}

.chartTitle{
    fill: #f8dc00;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.55em;
    font-weight: bold;
}

.chartFrame{
    fill: none;
    stroke: #999;
    stroke-width: 0px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line{
    fill: none;
    stroke: #f8dc00;
    stroke-width: .8px;
    shape-rendering: crispEdges;
}

.axis text{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.1em;
    fill: #f8dc00;
}

.dropdown{
    position: absolute;
    top: 135px;
    left: 40px;
    z-index: 10;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1em;
    font-weight: bold;
    padding; 2px;
    border: 1px solid #999;
    box-shadow: 1px 1px 1px #999;
}

option{
    font-weight: normal;
}

.infolabel{
    position: absolute;
    height: 70px;
    min-width: 100px;
    color: #003300;
    background-color: rgba(255, 255, 255, 0.85);
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}

.infolabel h2{
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}